{{ if .Site.Params.widgets.search.enable }}
<div class="modal fade .search-dropdown search" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="searchModalLabel">{{ i18n "searchTitle" }}</h4>
            </div>
            <div class="modal-body">
                <span class="menu-item search" id="search-desktop">
                    <input class="input-lg" type="text" placeholder={{ i18n "searchPlaceholder" }} id="search-input-desktop">
                    <a href="javascript:void(0);" class="search-button search-toggle" id="search-toggle-desktop" title="Search">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <a href="javascript:void(0);" class="search-button search-clear" id="search-clear-desktop" title="Clear">
                        <i class="fas fa-times-circle fa-fw"></i>
                    </a>
                    <span class="search-button search-loading" id="search-loading-desktop">
                        <i class="fas fa-spinner fa-fw fa-spin"></i>
                    </span>
                </span>
                <div class="search-dropdown desktop">
                    <div id="search-dropdown-desktop"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
